* {
    margin: 0;
    padding: 0;
}

body , html {
    /* overflow: hidden; */
    background: #1e1a20;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    display: flex;
    position: relative;
    text-transform: uppercase;
    height: 100vh;
    color:white;
    align-items: center;
    font-size: 6em;
    padding-left: 10%;
    padding-right: 10%;
    scroll-snap-align: start;

}

.content:nth-child(odd)
{
    justify-content: flex-end;
} 
